# Website information
site_name: XGMML Reader and Writer
site_url: https://xgmml.leovan.tech
site_author: 范叶亮 | Leo Van
site_description: XGMML Reader and Writer

# Repository
repo_name: leovan/xgmml
repo_url: https://github.com/leovan/xgmml
edit_uri: edit/main/docs/

# Copyright
copyright: Copyright &copy; 2025，<a href="https://leovan.me" target="_blank">范叶亮 | Leo Van</a>

# Navigation
nav:
  - Home: index.md
  - API: api.md
  - Parameters: parameters.md
  - Style: style.md
  - Custom: custom.md
  - Examples: examples.md

# Theme
theme:
  name: material
  include_search_page: false
  search_index_only: true
  language: en
  features:
    - content.code.copy
    - navigation.indexes
    - navigation.top
    - search.highlight
    - search.suggest
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: amber
      accent: amber
      toggle:
        icon: material/brightness-7
        name: 切换至暗黑模式
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: amber
      accent: amber
      toggle:
        icon: material/brightness-4
        name: 切换至明亮模式
  font:
    text: Roboto
    code: Roboto Mono
  favicon: images/logo.png
  logo: images/logo.png

# Plugins
plugins:
  - search
  - i18n:
      docs_structure: suffix
      fallback_to_default: true
      reconfigure_material: true
      reconfigure_search: true
      languages:
        - locale: en
          default: true
          name: English
          build: true
          site_name: "XGMML Reader and Writer"
        - locale: zh
          name: 简体中文
          build: true
          site_name: "XGMML 读写器"
          nav_translations:
            Home: 主页
            API: API
            Parameters: 参数
            Style: 样式
            Custom: 自定义
            Examples: 示例

# Extra
extra:
  alternate:
    - name: English
      link: /
      lang: en
    - name: 简体中文
      link: /zh/
      lang: zh
  social:
    - icon: material/home
      link: https://leovan.me
      name: Personal Website
    - icon: material/github
      link: https://github.com/leovan
      name: Github
  analytics:
    provider: google
    property: G-GZ809KZHVG
extra_css:
  - css/table.css

# Markdown extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - meta
  - toc:
      permalink: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: leovan
      repo: xgmml
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
